nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 10vw;
}

.nav-items-bg, .menu-btn {
    display: none;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 2vw;
    color: hsl(228, 39%, 23%);
    font-weight: 500;
}

.nav-items a:hover {
    cursor: pointer;
    color: hsl(227, 12%, 61%);
}

@media screen and (max-width: 60rem) {
    nav {
        padding: 1vh 5vw;
    }

    .menu-btn {
        display: block;
    }

    nav .get-started-btn {
        display: none;
    }

    .nav-items {
        position: fixed;
        top: 10vh;
        flex-direction: column;
        background-color: white;
        border-radius: 0.313rem;
        width: 90vw;
        padding-block: 5vh;
        gap: 3vh;
        font-weight: 700;
        transition: 0.2s ease-in-out;
        transform: translateX(190vw);
    }

    .nav-items.opened {
        transform: none;
    }

    .nav-items-bg.opened {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    }
}