* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background-image: url('/images/bg-tablet-pattern.svg'), url('/images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: 125% -15%, -70% 65%;
}

#root {
  overflow: hidden;
}

p {
  color: hsl(227, 12%, 61%);
}

.get-started-btn {
  padding: 0.625rem 1.875rem;  
  border-radius: 1.25rem; 
  font-weight: 700;
  color: white;
  border: none;
  background-color: hsl(12, 88%, 59%);
  box-shadow: 0 0.313rem 0.625rem 0 hsla(12, 88%, 59%, 0.3);
}

.get-started-btn:hover {
  cursor: pointer;
  background-color: hsla(12, 88%, 59%, 0.5);
}

.header-section {
  padding-inline: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
  padding-block: 5vh;
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5vh;
}

.header-title {
  color: hsl(228, 39%, 23%);
  font-size: 3rem;
}

.header-text {
  width: 80%;
  line-height: 2em;
}

.whats-diff-section {
  padding-inline: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10vw;
  padding-block: 5vh;
}

.whats-diff-description {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.whats-diff-title {
  font-size: 2.2rem;
  color: hsl(228, 39%, 23%);
}

.whats-diff-text {
  line-height: 1.5em;
  width: 80%;
}


.whats-diff-content {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.whats-diff-item {
  display: grid;
  column-gap: 2vw;
  row-gap: 2vh;
  align-items: center;
  grid-template-columns: 0.11fr 0.8fr;
  grid-template-rows: repeat(2, auto);
}

.item-number {
  margin-right: 2vw;
  padding: 0.313rem 1.25rem;
  border-radius: 1.25rem;
  background-color: hsl(12, 88%, 59%);
  color: white;
}

.item-title {
  grid-column: 1 / span 2;
  font-weight: 700;
  color: hsl(228, 39%, 23%);
}

.item-text {
  grid-row: 2;
  grid-column: 2;
  padding-right: 4.375rem;
  line-height: 1.5em;
  color: hsl(227, 12%, 61%);
}

.testimmonials-section {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  padding-block: 5vh;
}

.testimonials-title {
  font-size: 2.5rem;
  margin-block: 5vh;
}


.swiper {
  width: 100vw;
}

.swiper-slide {
  padding: 1.25rem;
  text-align: center;
  background-color:  hsl(0, 0%, 98%);
}

.testimmonials-item {
  overflow: visible;
  padding: 1.25rem;
  width: 60vw;
  
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  position: relative;
  z-index: 2;
}

.avatar {
  position: relative;
  top: 0;
  transform: translateY(-50%);
  width: 20%;
}

.name {
  transform: translateY(-50%);
  font-size: 1.3rem;
  margin-bottom: 1vh;
}

.simplify-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  padding-inline: 10vw;
  background: url('/images/bg-simplify-section-desktop.svg'), hsl(12, 88%, 59%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 150% 50%, center center;
}

.simplify-title {
  font-weight: 500;
  font-size: 2.3rem;
  width: 40%;
  color: hsl(0, 0%, 98%);
}

.get-started-btn.simplify-btn {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
}

.get-started-btn.simplify-btn:hover {
  cursor: pointer;
  color: hsla(12, 88%, 59%, 0.5);
}

footer {
  background-color:  hsl(233, 12%, 13%);
  color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 10vw;
  padding-block: 5vh;
}

.footer-content {
  display: grid;
}

.logo {
  grid-column: 1;
  grid-row: 1;
}

.socials {
  margin-top: auto;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 0.8rem;
} 

.social-icon:hover {
  cursor: pointer;
  color: hsl(12, 88%, 59%);
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
  gap: 2vh;
}

.footer-links a:hover {
  cursor: pointer;
  color: hsl(12, 88%, 59%);
}

.footer-links-1 {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.footer-links-2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.email-form-wrapper {
  margin-left: auto;
  grid-column: 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1vh
}

.email-form {
  display: inline-flex;
  align-items: start;
  gap: 1vw;
}

.email-input {
  border: none;
  width: 18vw;
  padding: 0.625rem 1.25rem;
  border-radius: 1.25rem;
}
.email-input:hover {
  cursor: pointer;
}

.email-input:focus {
  outline: none;
}

.email-input.input-error {
  outline: 0.125rem solid hsl(12, 88%, 59%);
  color: hsl(12, 88%, 59%);
}

.submit {
  border: none;
  background-color: hsl(12, 88%, 59%);
  color: white;
  padding: 0.625rem 1.25rem;
  border-radius: 1.25rem;
}

.submit:hover {
  cursor: pointer;
  background-color: rgb(245,147,112);
}

.error {
  color: hsl(12, 88%, 59%);
  font-size: 0.7rem;
  font-style: italic;
  margin-left: 1.25rem;
}

.copyright-text {
  grid-column: 4;
  grid-row: 2;
  margin-top: auto;
  margin-left: auto;
}

.attribution, .attribution a {
  text-align: center;
  color: hsl(0, 0%, 98%);
  margin-top: 5vh;
  align-self: center;
}

.attribution a:hover {
  cursor: pointer;
  color: hsl(12, 88%, 59%);
}



@media screen and (max-width: 60rem) {
  body {
    background-image: url('/images/bg-tablet-pattern.svg'), url('/images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 15vw -9vh, 65vw 68vh;
  }
  .header-section {
    padding-inline: 5vw;
    display: grid;
    justify-items: center;
    gap: 2vh
  }
  .header-illustration {
    width: 100%;
    grid-row: 1;
  }

  .header-description {
    grid-row: 2;
    align-items: center;
    text-align: center;
  }

  .header-title {
    font-size: 2.3rem;
  }

  .header-text {
    width: 100%;
  }

  .whats-diff-section {
    padding-inline: 0;
    flex-direction: column;
  }

  .whats-diff-description {
    padding-inline: 5vw;
    align-items: center;
    text-align: center;
  }

  .whats-diff-title {
   
    font-size: 2rem;
  }

  .whats-diff-text {
    
    width: 100%;
  }

  .whats-diff-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
  }

  .item-number {
    display: inline-block;
  }

  .item-title {
    width: 100%;
    margin-left: 5vw;
    border-radius: 1.25rem 0 0 1.25rem;
    display: inline-block;
    background-color: hsl(13, 100%, 96%);
    /* padding-left: 0.625rem; */
  }

  .item-text {
    font-size: 0.8rem;
    padding-inline: 5vw;
  }

  .testimonials-title {
    font-size: 2rem;
  }

  .testimonial-item {
    /* width: 80vw !important; */
    display: flex !important;
    flex-direction: column;
    align-items: center;
    height: auto !important;
  }

  .text {
    margin-bottom: 5vh;
  }

  .swiper-pagination-bullet {
    background: white !important;
    border: 0.125rem solid hsl(12, 88%, 59%) !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: hsl(12, 88%, 59%) !important;
  }

  .simplify-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding-block: 7vh;
    gap: 2vh;
    background: url('/images/bg-simplify-section-mobile.svg'), hsl(12, 88%, 59%);
    background-repeat: no-repeat;
  }

  .simplify-title {
    font-size: 2.3rem;
    width: 100%;
  }

  .footer-content {
    grid-template-columns: 1fr;
    row-gap: 3vh;
  }

  .email-form-wrapper {
    margin: 0;
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .email-input {
    width: 80%;
  }

  .footer-links-1 {
    grid-row: 2;
    grid-column: 1;
  }

  .footer-links-2 {
    margin-left: auto;
    grid-row: 2;
    grid-column: 2;
  }

  .socials {
    grid-row: 3;
    grid-column: 1 / span 2;
    justify-content: space-evenly;
    margin-block: 2vh;
  }

  .logo {
    justify-self: center;
    grid-row: 4;
    grid-column: 1 / span 2;
  }

  .copyright-text {
    justify-self: center;
    grid-row: 5;
    grid-column: 1 / span 2;
  }

}